@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.header-text {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, html {
  overflow-x: hidden;
}
